/* Global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", "Arial", sans-serif;
  background-color: #ffffff;
  color: black;
}

header {
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #3863ed;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.display-inline {
  display: inline-block;
  vertical-align: middle;
}

/* Name slightly larger */
header h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Bio pic circle shape */
header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 5px;
}

/* defines the color of tagline */
#tagline {
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  font-style: italic;
}

nav {
  background-color: #3863ed;
  /* links on the right of the header bar */
  text-align: right;
  padding: 5px;
}

/* space out the list items in nav */
nav li {
  margin: 5px;
  display: inline-block;
}

/* links */
a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  transition: color 0.4s ease;
  color: aqua; /* Apply hover color */
  font-size: 110%;
  transition: color 0.3s ease;
}

/* MAIN */
main {
  padding: 20px;
}

/* for about me, work and resume sections */
main section {
  /* left-handed thick bar in blue */
  border-left: 5px solid #3863ed;
  padding: 10px;
  margin-bottom: 20px;
}

/* headings */
h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(224, 234, 255);
  border-radius: 5px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}

/* sections */
.about-me {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.work {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  flex: 0 1 calc(50% - 10px); /* Set width to 50% minus margin */
  margin-right: 20px; /* Add margin between cards */
}

/* set the main work image to be the largest at all times - note flex 0 1 100%<<< */
#main-work {
  grid-column: 1 / -1; /* Span across all columns */
  flex: 0 1 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* in the work section, images formatting */
.work img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  background-color: rgb(250, 250, 250);
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, border-color 0.3s ease; /* Add transition for border color */
  border: 1px solid transparent; /* Add initial border */
}

.work img:hover {
  transform: scale(1.05);
  border-color: aqua; /* Apply hover border color */
}

.resume {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}

.resume ul {
  list-style-type: none; /* Remove default list bullet points */
  padding: 0;
}

.resume ul li {
  background-color: #f5f5f5;
  padding: 10px; /* Adjust the padding to increase spacing */
  margin-bottom: 5px; /* Add margin below each list item */
  position: relative; /* Enable relative positioning for the dot */
  transition: transform 0.3s ease; /* Add smooth transition effect */
}

.resume ul li:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translate(-50%, -50%); /* Center the dot vertically */
}

.resume ul li:hover {
  color: white; /* Set the text color to white on hover */
  transform: scale(1.01); /* Increase the size by 1% on hover */
  background-color: aqua; /* Change background color on hover */
}

.resume ul li:nth-child(1) {
  background-color: rgb(203, 220, 225);
}

.resume ul li:nth-child(2) {
  background-color: rgb(220, 236, 220);
}

.resume ul li:hover {
  background-color: aqua; /* Change background color on hover */
}

footer {
  background-color: #3863ed;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer h4 {
  margin-bottom: 10px; /* Add space below the "Contact Me" heading */
}

footer ul {
  padding: 0;
  margin: 10px 0; /* Add space above and below the list */
}

footer li {
  display: inline-block;
  margin-right: 10px; /* Increase spacing between the links */
}

footer li:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

footer a:hover {
  transition: color 0.4s ease;
  color: aqua; /* Apply the desired hover color */
}

/* media queries */
@media screen and (min-width: 768px) {
  /* for larger screens */
  header {
    padding: 30px;
  }

  /* make the tagline a bit larger */
  #tagline {
    font-size: 20px;
    margin-bottom: 20px;
  }

  /* for larger screens, align the nav items to the right */
  nav {
    text-align: right;
  }

  /* give more padding to sections */
  main section {
    padding: 20px;
  }

  /* increase the font size of h2 headings */
  h2 {
    font-size: 28px;
  }

  /* make the work images larger on larger screens */
  .work img {
    height: 450px;
  }
}
